*{
    box-sizing: border-box;

}
body,html{
    margin: 0;
    height: 100%;
}
.portfolio{
   height: 100%;
   background-image: url("Images/portfolio3.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}
.name{
    position: absolute;
    color: #221C22;
    top: 20%;
    left: 70%;
    text-align: center;
    transform: translate( -50%, -50% );
}
h1{
    font-size: 8vh;
    font-family: 'Josefin Sans', sans-serif;
    text-shadow: 5px 5px black;
}
h4{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3vh;
}
.about,.about-me,.interest-head,.gallery-text{
    margin: 2vh;
    margin-top: 0;
    text-align: justify;
    color: #221C22;
    font-size: 5vh;
    
}
.about-me{
    line-height: 30px;
    padding: 15px;
    font-size: 2vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.column{
    float: left;
    width: 33.33%;
    padding: 10px;
    box-shadow: 2px 0px 0px #221C22;
}
.interest{
    display: table;
    clear: both;
}
.sizing{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}
.Responsive{
    display: flex;
    flex-wrap: wrap;
}
.gallery{
    width:25%;
    flex: 25%;
    padding: 0 4px;
}
.gallery img{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    
}

@media only screen and (max-width: 800px){
    .gallery{
        flex: 50%;
        width: 50%;
    }
    .column{
        float: none;
        width: 100%;
    }
    .name{
        color: cornsilk;
        transform: translate(-50%,-50%);
        margin: -20px;
        position: absolute;
        top: 25%;
    }
    h1{
        text-shadow: 4px 2px 2px rgb(241, 173, 94);
    }
    h4{
        text-shadow: 2px 1px 1px rgb(241, 173, 94);
    }
    .portfolio{
        position: relative;
    }
}
@media only screen and (max-width: 600px){
    .gallery{
        flex-direction: column;
        width: 100%;
    }
    .column{
        float: none;
        width: 100%;
    }
    .name{
        color: cornsilk;
        transform: translate(-104%,60%);
        margin: -20px;
    }
    h1{
        text-shadow: 4px 2px 2px rgb(241, 173, 94);
    }
    h4{
        text-shadow: 2px 1px 1px rgb(241, 173, 94);
    }
}
