*{
    box-sizing: border-box;

}
body,html{
    margin: 0;
    scroll-behavior: smooth;
    height: 100%;
}
.portfolio{
   height: 100%;
   background-image: url("Images/portfolio3.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
}
.name{
    position: absolute;
    color: #221C22;
    top: 20%;
    left: 70%;
    text-align: center;
    transform: translate( -50%, -50% );
    
}
h1{
    font-size: 8vh;
    font-family: 'Josefin Sans', sans-serif;
    text-shadow: 5px 5px black;
}
h4{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3vh;
}
.about,.about-me,.interest-head,.gallery-text{
    margin: 2vh;
    margin-top: 0;
    text-align: justify;
    color: #221C22;
    font-size: 5vh;
    
}
.about-me{
    line-height: 30px;
    padding: 15px;
    font-size: 2vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.column{
    float: left;
    width: 33.33%;
    padding: 10px;
    box-shadow: 2px 0px 0px #221C22;
}
.interest{
    display: table;
    clear: both;
}
.sizing{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}
.Responsive{
    display: flex;
    flex-wrap: wrap;
}
.gallery{
    width:25%;
    flex: 25%;
    padding: 0 4px;
}
.gallery img{
    margin-top: 8px;
    vertica;
    width: 100%;
    
}
.fas{
    color: darkkhaki;
    font-size: 5vh;
    animation-name: swipe-up;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin-bottom: 90px;

}

.fab{
    font-size: 7vh;
    opacity: 0.5;
    padding: 0 10px;
}
.details{
    background: black;
    height: 50%;
    width: 99.6%;
    margin: 2px auto;
    position: relative;
}
.det_con{
    position: absolute;
    top:30%;
    left: 50%;
    transform: translate(-50%,-20%);
}
.det_con:nth-child(1){
    text-align: center;
}
.hov1:hover{
  color: #0e51e0 ;
  
}
.hov2:hover{
    background-image: linear-gradient(#405DE6,rgb(193,53,132),rgb(225,48,108),rgb(253,29,29));
    border-radius: 50px;
}
.hov3:hover{
    color:#1404fc;
}
.hov4:hover{
    opacity: 1;
    color: #fff;
}

/* animationg the icon */
@keyframes swipe-up{
    0%{
        transform: translateY(30px);
    }
    100%{
        transform :translateY(0);
    }
}

/* for screens 800px or less than */
@media only screen and (max-width: 700px) and (orientation: portrait){
    .gallery{
        flex: 50%;
        width: 50%;
        
    }
    .column{
        float: none;
        width: 100%;
    }
    .name{
        color: cornsilk;
        transform: translate(-50%,-50%);
        margin: -20px;
        position: absolute;
        top: 25%;
    }
    h1{
        text-shadow: 4px 2px 2px rgb(241, 173, 94);
    }
    h4{
        text-shadow: 2px 1px 1px rgb(241, 173, 94);
    }
    .portfolio{
        position: relative;
    }
    .column{
        box-shadow: 0px 0px 0px;
    }

    .det_con{
        transform: translate(-50%,-30%);
    }
    .details{
        height: 40%;
    }
    
}


/* for screens 600px or less than */
@media only screen and (max-width: 600px){
    .gallery{
        flex-direction: column;
        width: 100%;
    }
    .column{
        float: none;
        width: 100%;
    }
    .name{
        color: cornsilk;
        transform: translate(-104%,60%);
        margin: -20px;
    }
    h1{
        text-shadow: 4px 2px 2px rgb(241, 173, 94);
    }
    h4{
        text-shadow: 2px 1px 1px rgb(241, 173, 94);
    }
    .fab{
        font-size: 5vh;
    }
    .fas{
        font-size: xx-large;
    }
}